.layout {
  width: 100%;

  display: flex;
  gap: 16px;
}
.container {
  display:flex
}
.sidebar {
  width: 40%
}

.padding {
  padding-left: 50px;
}
.picture {
  padding-right: 30px;
}

h2 {
    font-family: Georgia, Times New Roman, serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace
}

img {
  width: 350px;
  height: 500px;
}

p {
  text-align: left;
  font-size: 17px;
  padding-left: 40px;
}

ol {
  font-size: 17px;
}

ul {
  font-size: 17px;
  list-style-type: square;
}

body {
  background-color: #FFE8FF;
}

.date {
  color: #275425;
}

